<%- include('../partials/header')%>
<h1><a href="/Doctors/createDoctor">Create Doctor</a></h1>
<h1><a href="/Clinicks/createClinick">Create Clinick</a></h1>
<h1><a href="/News/addNews">Create News</a></h1>
<%- include('../partials/foother')%>