
<section id="Footer">
        <div class="contactebi">
            <div class="links">
                <h5>ბმულები</h5>

                <ul class="Bmulebi">
                    <li>
                        <a href="/medic">მთავარი</a>
                    </li>
                    <li>
                        <a href="/medic/clinicks">კლინიკები</a>
                    </li>
                    <li>
                        <a href="/medic/doctors">ექიმები</a>
                    </li>
                </ul>
            </div>
            <aside class="contacts">
                <h5 class="Cont">კონტაქტები</h5>

                <ul class="contact">
                    <li>
                        <p>paatagvichia@gmail.com</p>
                    </li>
                    <li>
                        <p>+995 587 843 483</p>
                    </li>
                    <li>
                        <p>თბილისი, ვ.გორგასლის 34ბ</p>
                    </li>
                </ul>
            </aside>
        </div>
</section>
<script src="/main.js"></script>
</body>

</html>