<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blooger</title>
</head>

<body>
    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="/admin/panel" id="MtIcon" class="text-gray"><i class="fas fa-clinic-medical"></i></a>
            </div>

            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/medic">მთავარი</a>
                    </li>
                    <li class="nav-link">
                        <a href="/medic/clinicks">კლინიკები</a>
                    </li>
                    <li class="nav-link">
                        <a href="/medic/doctors">ექიმები</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">კონტაქტი</a>
                    </li>
                </ul>
            </div>
            
            <div class="social text-gray">
                <a href="/logout"><i class="fas Width fa-user-nurse"></i></a>
            </div>
        </div>
    </nav>
    <section class="site-title">
        <div class="site-background" data-aos="fade-up" data-aos-delay="100">
            <h1>საქართველოს კლინიკები და ექიმები</h1>
            <button  id="aboutBTN" class="btn">ჩვენს შესახებ</button>
        </div>
    </section>
</body>
</html>