<%-include('../partials/header.ejs')%>
<div class="container">
    <div class="about">
        <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quas exercitationem, minus impedit est quod explicabo excepturi, ipsam libero tempora laboriosam aspernatur quaerat animi eos magni autem in consequatur at.
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium sit qui numquam laborum, sequi doloribus tenetur adipisci dolorem cupiditate. Nulla nostrum est maxime dicta quod repellendus beatae fuga inventore voluptate.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, velit porro? Commodi omnis saepe deleniti, corporis odit quod temporibus iste laboriosam a quisquam sequi assumenda, accusamus quam aliquam quibusdam. Ducimus!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero soluta cupiditate labore obcaecati voluptatem, adipisci sapiente porro a iure, accusantium maiores necessitatibus doloremque repudiandae! Expedita dolores totam placeat praesentium dolor.            
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi repellendus eveniet laborum corrupti iure cum neque fugit similique provident, illo obcaecati esse molestias ipsam delectus voluptatum officia temporibus magni tempora?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet eum adipisci laborum non enim nobis beatae fuga molestias sapiente maxime facere hic, neque ipsa, totam recusandae a, minus rem assumenda?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos enim a sapiente ratione laudantium provident sequi nisi amet voluptas fugiat reprehenderit labore, pariatur magni doloribus itaque. Qui consectetur sunt quo!
        </p>
    </div>
</div>
<%-include('../partials/foother.ejs')%>